<div class="vehicle-upload" [class.vehicle-upload--dragging]="isDragging" [class.vehicle-upload--invalid]="invalid()">
  <input
    #fileInput
    type="file"
    class="vehicle-upload__input"
    [attr.accept]="accept() || null"
    (change)="onFileSelected($event)"
  />

  <div
    class="vehicle-upload__dropzone"
    role="button"
    tabindex="0"
    (click)="fileInput.click()"
    (keydown.enter)="fileInput.click()"
    (keydown.space)="fileInput.click()"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    <div class="vehicle-upload__icon">
      <i class="feather icon-upload-cloud"></i>
    </div>
    <div class="vehicle-upload__copy">
      <p class="vehicle-upload__title">
        {{ title() }}
        @if (required()) {
          <span>*</span>
        }
      </p>
      <p class="vehicle-upload__description">{{ description() }}</p>
    </div>
    <button type="button" class="vehicle-upload__browse">Parcourir</button>
  </div>

  @if (file()) {
    <div class="vehicle-upload__preview">
      @if (isImagePreview && previewUrl) {
        <img class="vehicle-upload__preview-image" [src]="previewUrl" [alt]="file()?.name" />
      } @else {
        <div class="vehicle-upload__preview-icon">
          <i class="feather icon-file-text"></i>
        </div>
      }

      <div class="vehicle-upload__preview-meta">
        <p class="vehicle-upload__file-name">{{ file()?.name }}</p>
        <p class="vehicle-upload__file-size">{{ formatSize(file()?.size ?? 0) }}</p>
      </div>

      <button type="button" class="vehicle-upload__remove" (click)="removeFile($event)">
        <i class="feather icon-x"></i>
        Retirer
      </button>
    </div>
  }

  @if (invalid()) {
    <p class="vehicle-upload__error">Document requis. Veuillez ajouter un fichier.</p>
  }
</div>
