/**  =====================
      Progress css start
==========================  **/
@keyframes progress-bar-stripes {
  from {
    background-position: 16px 0;
  }

  to {
    background-position: 0 0;
  }
}

.progress {
  height: 12px;
  font-size: 10px;
  background-color: var(--color-progress-bg);
  border-radius: 999px;
  overflow: visible;
}

.progress-bar {
  background-color: $primary-color;
  box-shadow: none;
  border-radius: 999px;
  @each $value in $color-name {
    $i: index($color-name, $value);

    &.progress-#{$value} {
      background: nth($color-color, $i);
    }
    &.progress-c-theme {
      background: $theme-color;
    }
    &.progress-c-theme2 {
      background: $theme-color2;
    }
  }
}
/**====== Progress css end ======**/
