<app-navigation
  class="pcoded-navbar"
  [ngClass]="{
    'navbar-collapsed': navCollapsed,
    'mob-open': navCollapsedMob
  }"
  (NavCollapse)="navCollapsed = !navCollapsed"
  (NavCollapsedMob)="navMobClick()"
/>
<app-nav-bar class="navbar pcoded-header navbar-expand-lg navbar-light" (NavCollapsedMob)="navMobClick()" />
<div class="pcoded-main-container" [class.menu-open]="navCollapsedMob">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <app-breadcrumb />
        <div class="main-body">
          <div class="page-wrapper" [@pageFadeTransition]="routeAnimationKey">
            <router-outlet />
          </div>
        </div>
        <app-footer />
      </div>
    </div>
  </div>
  <div class="pc-menu-overlay" [class.active]="navCollapsedMob" (click)="closeMenu()" (keydown)="handleKeyDown($event)" tabindex="0"></div>
</div>
