@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@300;400;500;600&display=swap');



body {
    background: #f8f8f8;
    font-family: 'Inter', sans-serif;
    color: #647eb4;
}

.main-card {
    border-radius: 28px;
    background: #ffffff;
    box-shadow: 0 25px 50px rgba(2, 1, 1, 0.08);
    
    transition: 0.4s ;
        animation: fadeIn 0.8s ease-in-out;

}

.main-card:hover {
    transform: translateY(-5px);
}

.header-section {
    background: linear-gradient(120deg, #111827, #1f2937);
    padding: 70px 40px;
    text-align: center;
    color: white;
}

.header-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.header-section p {
    opacity: 0.8;
    font-weight: 300;
}

.section-card {
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    transition: 0.4s ;
}

.section-card:hover {
    border-color:#d4af37;
    box-shadow: 0 20px 40px rgba(0,0,0,0.06);
}

.icon {
    width: 60px;
    height: 60px;
    background:#f9fafb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color:#d4af37;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.form-label {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6b7280;
}

.form-control, .form-select {
    border-radius: 14px;
    border: 1px solid #e5e7eb;
    padding: 14px;
    background: #fafafa;
    transition: 0.3s ;
}

.form-control:focus {
    border-color: #d4af37;
    box-shadow: 0 0 0 3px rgba(202, 166, 45, 0.15);
    background: #ffffff;
}

.scan {
    border: 2px dashed #e5e7eb;
    border-radius: 18px;
    padding: 25px;
    background: #fafafa;
    transition: 0.4s ;
}

.scan:hover {
    border-color: #d4af37;
    background: #ffffff;
}

.btn-confirm {
    background: linear-gradient(135deg, #36528f, #1f2937);
    color: white;
    padding: 18px 50px;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    transition: 0.4s ease;
}

.btn-confirm:hover {
    background: #d4af37;
    color: #111827;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(212,175,55,0.4);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
