<div
  class="vehicle-form-field"
  [class.vehicle-form-field--focused]="focused"
  [class.vehicle-form-field--filled]="hasValue()"
  [class.vehicle-form-field--invalid]="isInvalid()"
>
  <div class="vehicle-form-field__control-wrap" (focusin)="onFocus(true)" (focusout)="onFocus(false)">
    <ng-content />
    <label class="vehicle-form-field__label" [attr.for]="forId()">
      {{ label() }}
      @if (required()) {
        <span class="vehicle-form-field__required">*</span>
      }
    </label>
  </div>

  @if (isInvalid()) {
    <p class="vehicle-form-field__message vehicle-form-field__message--error">{{ getErrorMessage() }}</p>
  } @else if (hint()) {
    <p class="vehicle-form-field__message">{{ hint() }}</p>
  }
</div>
